.active {
    text-decoration: underline;
}

.productos-destacados {
    height: 100vh;
}

.card-border {
    border: solid 10px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.2s;
}
.card-border:hover {
    transform: scale(1.05);
}
.img-servicios {
    transition: all 0.2s;
}
.img-servicios:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    #mainSlider {
        display: none;
    }
    .img-servicios {
        display: none;
    }
    .separator {
        display: none;
    }
}
@media (max-width: 993px) {
    #logo-sec {
        display: none;
    }
    .img-nosotros {
        display: none;
    }

}

footer {
    background-image: url(../assets/imgFooter.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.color-primario {
    background-color: #D1D6FF  !important;
}

.marca {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 8px;
}

.icon-group {
    font-size: 1.3rem;

    i {
        color: #919bef
    }
}